* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  color: var(--color-text)
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.gradient__bg {
      background:-moz-radial-gradient(circle at 17% 28%, rgba(30, 41, 123, 1) 0%, rgba(0, 0, 0, 1) 100%);
      background:-webkit-radial-gradient(circle at 17% 28%, rgba(30, 41, 123, 1) 0%, rgba(0, 0, 0, 1) 100%);
      background:-o-radial-gradient(circle at 17% 28%, rgba(30, 41, 123, 1) 0%, rgba(0, 0, 0, 1) 100%);
      background:-ms-radial-gradient(circle at 17% 28%, rgba(30, 41, 123, 1) 0%, rgba(0, 0, 0, 1) 100%);
      background:radial-gradient(circle at 17% 28%, rgba(30, 41, 123, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.title {
  align-content: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

@media (max-width: 400px) {
  .navbar {
    flex-direction: column;
  }
}


.navbar li {
  list-style-type: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  /* padding: 10px 45px; */
  cursor: pointer;
  /* min-width: 0; */

}


